@font-face{ font-family: OpS-Bold; src: url(../fonts/OpenSans-Bold.ttf); }
@font-face{ font-family: OpS-Light; src: url(../fonts/OpenSans-Light.ttf); }
@font-face{ font-family: OpS-LightItalic; src: url(../fonts/OpenSans-LightItalic.ttf); }
@font-face{ font-family: OpS-Regular; src: url(../fonts/OpenSans-Regular.ttf); }
@font-face{ font-family: OpS-SemiBold; src: url(../fonts/OpenSans-SemiBold.ttf); }