//Fuentes
@font-face{ font-family: OpS-Bold; src: url(../fonts/OpenSans-Bold.ttf); }
@font-face{ font-family: OpS-Light; src: url(../fonts/OpenSans-Light.ttf); }
@font-face{ font-family: OpS-LightItalic; src: url(../fonts/OpenSans-LightItalic.ttf); }
@font-face{ font-family: OpS-Regular; src: url(../fonts/OpenSans-Regular.ttf); }
@font-face{ font-family: OpS-SemiBold; src: url(../fonts/OpenSans-SemiBold.ttf); }
//variables
$azul:#192a56;
$amarillo: #f8b40b;
.btn{
    width: 30%;
    margin-left: 35%;
    margin-top: 15px;
    background: $amarillo;
    color: #fff;
    padding: 10px 0px;
    border: none;
    &:hover{
        background:#e7a600;
    }
}

//Generales
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ver{
    display:block;
}
.clear{
    clear: both;
}

body{
    width: 100%;
    background: #fff;
    font-family: "OpS-Regular";
}

//Header
header{
    width: 100%;
    .navigate{
        .contenedor{
            .topBar{
                background: $azul;
                color: #fff;
                text-align: right;
                padding: 15px 30px;
                font-family: "OpS-SemiBold";
                font-size: 20px;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
            }
            .menu{
                width: 100%;
                background: linear-gradient(to left, $amarillo, #f8b50bd8, #f8b50b42, #f8b50b0c);
                padding: 15px 10px;
                box-shadow: 0px 0px 15px #000000a2;
                position: relative;
                z-index: 1;
                button{
                    display: none;
                }
                img{
                    float: left;
                    width: 25%;
                }
                ul{
                    width: 75%;
                    margin-top: 3%;
                    float: left;
                    display: flex;
                    flex-direction: row-reverse;
                    li{
                        list-style: none;
                        margin: 15px;
                        ul{
                            width: 28%;
                            background: $amarillo;
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            margin-top: -1px;
                            a{
                                font-family: "Ops-Light";    
                            }
                        }
                        a{
                            color: #fff;
                            text-decoration: none;
                            font-size: 22px;
                            font-family: "Ops-Regular";
                            padding: 15px;
                            &:hover{
                                text-decoration: underline #fff;
                            }
                        }
                    }
                }

                
            }
            
        }      
    }
    .seeWork{
        width: 100%;
        height: 600px;
        position: relative;
        z-index: 0;
        background: url(../images/kitchen_tile.jpg);
        background-size: cover;
        overflow: hidden;
        .contenedor{
            width: 40%;
            padding: 20px;
            margin: auto;
            margin-top: 15%;
            position: relative;
            //top: -100px;
            z-index: 2;
            background: #1d1d1d93;
            color: #fff;
            .principal{
                font-size: 27px;
                font-family: "OpS-SemiBold";
                text-align: center;
                margin-bottom: 20px;
            }
            .description{
                width: 70%;
                margin: auto;
                text-align: center;
                font-size: 16px;
            }
            
            .btn{
                width: 30%;
                margin-left: 35%;
                margin-top: 15px;
                background: $amarillo;
                color: #fff;
                padding: 10px 0px;
                border: none;
            }
        }
    }
}

// Instalation
.tileInstalation{
    background: #fff;
    width: 100%;
    .contenedor{
        width: 80%;
        margin: auto;
        padding: 15px;
        .titulo{
            margin: auto;
            width: 40%;
            padding: 40px 0px 0px 0px;
            border-right: 2px solid $amarillo;
            border-bottom: 2px solid $amarillo;
            h3{
                font-size: 35px;
                font-family: "OpS-SemiBold";
                text-align: center;
            }
        }

        .about{
            font-size: 28px;
            font-family: "OpS-LightItalic";
            color: #505050;
            margin: 50px 0px;
            padding: 10px;
            border-left: 2px solid $azul;
        }

        .lets{
            width: 100%;
            padding: 15px;
            h6{
                font-size: 18px;
                margin-bottom: 15px;
            }
            .info{
                width: 80%;
                margin: auto;
                text-align: center;
                line-height: 28px;
                font-family: "OpS-Regular";
            }
            .cuerpo{
                width: 80%;
                margin: auto;
                text-align: left;
                line-height: 28px;
                font-family: "OpS-Regular";
            }
        
        }

        .otherInfromation{
            width: 100%; 
            .contenedor{
                width: 50%;
                margin: auto;
            
                iframe{
                    width: 100%;
                }
                button{
                    margin-left: 22%;
                    margin-top: 7%;
                    margin-bottom: 7%;
                    background: transparent;
                    border: transparent;
                    
                    img{
                        width: 100%;
                    }
                }
                p{
                    text-align: center;
                    font-size: 20px;
                }
            }
        }
    }
}

.muestras{
    background: url(../images/tile_pattern.jpg);
    background-size: cover;
    width: 100%;
    .contenedor{
        width: 90%;
        padding: 20px;
        margin: auto;
        display: flex;
        flex-direction: row;
        .muestra{
            width: 30%;
            background: #fff;
            margin: auto;
            p{
                text-align: center;
                color: $azul;
                font-size: 22px;
                font-family: "OpS-SemiBold";
                margin: 10px;
            }
            img{
                width: 100%;
            }
            button{
                margin-bottom: 10px;
            }
        }
    }
}

.contact{
    width: 100%;
    background: url(../images/footer_final.jpg);
    .contenedor{
        width: 90%;
        margin: auto;
        .formulario{
            width: 50%;
            padding: 20px;
            margin: auto;
            border: 2px solid $azul;
            border-radius: 8px;
            background: #ffff;
            h4{
                text-align: center;
                color: $azul;
                font-size: 28px;
                font-family: "OpS-SemiBold";
                padding: 20px;
            }
            .contenedor{
                width: 50%;
                float: left;
                label{
                    display: inline-block;
                    color: $azul;
                    font-family: "OpS-SemiBoldItalic";

                }
                input{
                    padding:10px;
                }
            }
            #emailContain{
                float: right;
                input, label{
                    float: right;
                }
            }
            #number, #message{
                width: 100%;
                padding: 10px 35%;
            }
            textarea{
                max-width: 220px;
                min-width: 180px;
                max-height: 220px;
                min-height: 80px;
                padding:10px;
            }
            
        }
    }
    .mapa{
        width: 100%;
        h4{
            text-align: left;
            font-size: 22px;
            font-family: "OpS-SemiBold";
            color: $azul;
            margin: 10px;
        }
        iframe{
            width: 100%;
        }
    }
    .contacUs{
        h4{
            text-align: center;
            font-size: 22px;
            font-family: "OpS-SemiBold";
            color: $azul;
            margin: 10px;
        }  
        .datos{
            background: #fff;
            border: 1px solid $azul;
            border-radius: 8px;
            padding: 20px;
            width: 35%;
            margin:20px auto;
            text-align: left;
            line-height: 27px;
            float: left;
            .texto{
                width: 70%;
                float: left;
                margin: auto;
            }
            .foto{
                width: 30%;
                float: left;
                img{
                    width: 100%;
                }
            }
        }
        .horarios{
            width: 50%;
            float: left;
            margin-left: 10%;
            h5{
                text-align: center;
                font-size: 18px;
                margin-bottom: 15px;
            }
            .entreSemana{
                width: 50%;
                float: left;
            }
            .finSemana{
                width: 50%;
                float: left;
                text-align: right;
            }
            samp{
                font-family: "OpS-Bold";
                font-size: 15px;
                line-height: 25px;
            }
            p{
                text-align: center;
            }
        }
    }
}



footer{
    width: 100%;
    background: #000;
    padding: 10px;
    .contenedor{
        width: 80%;
        margin: auto;
        color: #fff;
        text-align: center;
        p{
            margin: 10px;
        }
        a{
            color: #fff;
            text-decoration: none;
            margin: 15px 30px;
            &:hover{
                color: $amarillo;
                text-decoration: underline;
            }
        }
    }
}



@media screen and (max-width: 800px){
    header{
        .navigate{
            .contenedor{
                .menu{
                    background: $amarillo;
                    img{
                        width: 25%;
                        position: relative;
                        margin-left: 35%;
                    }
                    ul{
                        width: 90%;
                    }
                }
            }      
        }
        .seeWork{
            .contenedor{
                width: 70%;
            }
        }
    }

    .tileInstalation{
        .contenedor{
            width: 90%;
            .titulo{
                width: 60%;
            }
            .lets{
                width: 100%;
                padding: 15px;
                h6{
                    font-size: 18px;
                    margin-bottom: 15px;
                }
                .info{
                    text-align: justify;
                }
            }
    
            .otherInfromation{
                width: 100%; 
                .contenedor{
                    width: 70%;
                    margin: auto;
                }
            }
        }
    }

    .muestras{
        .contenedor{
            width: 90%;
            padding: 8px;
            .muestra{
                p{
                    font-size: 15px;
                    margin: 5px;
                }
                button{
                    width: 100%;
                    margin-bottom: 10px;
                    margin-left: -.3%;
                }
            }
        }
    }

    .contact{
        .contenedor{
            .formulario{
                width: 80%;
            }
        }
        .contacUs{ 
            .datos{
                width: 90%;
                margin-left:5%;
            }
            .horarios{
                width: 90%;
                float: left;
            }
        }
    }

    footer{
        .contenedor{
            width: 90%;
            p{
                margin: 15px;
            }
            a{
                margin: 15px 50px;
                line-height: 35px;
                &:hover{
                    color: $amarillo;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 690px){
    header{
        .navigate{
            .contenedor{
                .menu{
                    background: $amarillo;
                    button{
                        display: inline-block;
                        padding: 10px;
                        background: $amarillo;
                        color:#fff;
                        border: 1px solid #fff;
                        float: right;
                        margin-top:2%;
                        box-shadow: 0px 0px 3px #000;
                    }
                    img{
                        width: 25%;
                        position: relative;
                        margin-left: 35%;
                    }
                    ul{
                        display: none;
                        flex-direction: column-reverse;
                        padding: 10px;
                        text-align: right;
                        li{
                            ul{
                                width:50%;
                                text-align: left;
                                margin-top: -6px;
                            }
                        }
                    }
                }
            }      
        }
    }

    .contact{
        .contenedor{
            width: 100%;
            .formulario{
                width: 90%;
            }
        }
        .contacUs{ 
            .datos{
                width: 90%;
                margin-left:5%;
            }
            .horarios{
                width: 90%;
                float: left;
            }
        }
    }
}

@media screen and (max-width: 500px){
    header{
        .navigate{
            .contenedor{
                .menu{
                    background: $amarillo;
                    img{
                        width: 25%;
                        position: relative;
                        margin-left: 35%;
                    }
                    ul{
                        width: 90%;
                        li{
                            a{
                                font-size: 17px;
                            }
                        }
                    }
                }
            }      
        }
    }
    .tileInstalation{
        .contenedor{
            width: 90%;
            .titulo{
                width: 90%;
                h3{
                    font-size: 22px;
                }
            }
            .about{
                font-size: 18px;
            }
            .lets{
                width: 100%;
                padding: 15px;
                h6{
                    font-size: 14px;
                    margin-bottom: 15px;
                }
                .info{
                    text-align: justify;
                    font-size: 15px;
                }
            }
    
            .otherInfromation{
                width: 100%; 
                .contenedor{
                    width: 70%;
                    margin: auto;
                }
            }
        }
    }

    .seeWork{
        .contenedor{
            width: 100%;
        }
    }

    .muestras{
        .contenedor{
            width: 100%;
            padding: 5px;
            .muestra{
                p{
                    font-size: 10px;
                    margin: 2px;
                }
                button{
                    width: 100%;
                    margin-bottom: 10px;
                    margin-left: -.3%;
                }
            }
        }
    }

    .contact{
        .contenedor{
            width: 90%;
            margin: auto;
            .formulario{
                width: 90%;
                padding: 10px;
                margin: auto;
                border: 2px solid $azul;
                border-radius: 8px;
                background: #ffff;
                h4{
                    text-align: center;
                    color: $azul;
                    font-size: 28px;
                    font-family: "OpS-SemiBold";
                    padding: 20px;
                }
                .contenedor{
                    width: 100%;
                    float: none;
                    label{
                        display: inline-block;
                        color: $azul;
                        font-family: "OpS-SemiBoldItalic";
    
                    }
                    input{
                        padding:10px;
                        width: 70%;
                    }
                }
                #emailContain{
                    float: none;
                    input, label{
                        float: none;
                    }
                }
                #number, #message{
                    width: 100%;
                    padding: 10px;
                }
                textarea{
                    max-width: 220px;
                    min-width: 180px;
                    max-height: 220px;
                    min-height: 80px;
                    padding:10px;
                }
                
            }
            #check{
                display: flex;
            }
        }
    }    
}

@media screen and (max-width: 410px){
    .seeWork{
        .contenedor{
            width: 100%;
            .principal{
                font-size: 18px;
            }
        }
    }

    .tileInstalation{
            .contenedor{
                .lets{
                width: 100%;
                padding: 10px;
                h6{
                    font-size: 14px;
                    margin-bottom: 15px;
                }
                .info{
                    text-align: justify;
                    font-size: 12px;
                }
            }
        }
    }
    .contact{
        .contenedor{
            .formulario{
                h4{
                    text-align: center;
                    color: $azul;
                    font-size: 22px;
                    font-family: "OpS-SemiBold";
                    padding: 20px;
                }
                
            }
        }
    }    
}