<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="../assets/images/apple-touch-icon.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>DL tile</title>
</head>
<body>
    <header>
        <nav class="navigate">
            <div class="contenedor">

                <div class="topBar">
                    <p>Call Today! 707-385-5146</p>
                </div>
                <div class="menu">
                    <button id="menu" >Menu</button>
                    <img src="../assets/images/logo.png" alt="Dl Tile" title="Dl Tile">
                    <ul id="ul">
                        <li>
                            <a href="#">Testimonials</a>
                        </li>

                        <li>
                            <a href="#">Gallery</a>
                        </li>

                        <li id="servicies">
                            <a href="#">Servicies</a>
                            
                            <ul class="desplegable">
                                <li>
                                    <a href="../views/TileInstallations.html" id="dow-item">Tile Installation</a>
                                </li>
                            
                                <li>
                                    <a href="#" id="dow-item">Kitchen Tile</a>
                                </li>
                            
                                <li>
                                    <a href="#" id="dow-item">Bathroom Tile and Shower Tile</a>
                                </li>
                            
                                <li>
                                    <a href="#" id="dow-item">Ceramic and Stone Tile</a>
                                </li>
                            
                                <li>
                                    <a href="#" id="dow-item">Countertops</a>
                                </li>
                            
                                <li>
                                    <a href="#" id="dow-item">Tile and Stone Flooring</a>
                                </li>
                            
                                <li>
                                    <a href="#" id="dow-item">Quartz</a>
                                </li>
                            
                                <li>
                                    <a href="#" id="dow-item">Gallery</a>
                                </li>
                            
                                <li>
                                    <a href="#" id="dow-item">Testimonials</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Home</a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </nav>
        
    </header>

    <section class="tileInstalation">
        <div class="contenedor">
            <div class="titulo">
                <h2>Bathroom Tile and Shower Tile</h2>
            </div>
            <br/>
            

           
            <div class="lets">

                <p class="cuerpo">
                    Do you have a wet wall and floor? Are there ‘maps’ or water stains on your bathroom walls that are stinking and disgusting? Tile installation can help stop these problems, leaving your bathroom cleaner, fresher, and more stylish. However, tile installation is not for the novice home handyman. In fact, tile that is installed by an inexperienced person could end up in detachment, cracking, and uneven installation, leaving your space looking worn and unkempt.
                </p>
                <br/>
                <p class="cuerpo">
                    Do you have a traditional bathroom which you would love to give a modern new look? Although bathroom remodeling might be expensive, having a solid plan on what to do will save you from unnecessary costs.
                </p>
                <br/>
                <p class="cuerpo">
                    Give your bathroom that fresh new look it deserves with new tile. At Díaz López Tile, we offer quality bathroom remodeling services for your home. Our team of professionals work with you to turn your bathroom into a space where you can unwind and at the end of the day. Want to get your days started? Give us a call at 707-385-5154 for your bathroom remodeling in he San Francisco Bay Area, we have experience in both commercial and residential tile installation. We can install new tile in all areas of your bathroom including floors, walls, and showers. Custom tile in your bathroom makes it easier to clean and instantly increases your home’s value.
                </p>
                <br>
                
            </div>

            <div name="imagenes" class="row">
                <div style="width: 8rem;"></div>
                <div class="card" style="width: 24rem;">
                    <img src="../assets/images/badrom1.jpg" class="card-img-top materialboxed" alt="...">
                  </div>
                  <div style="width: 18rem;"></div>
                  <div class="card" style="width: 24rem;">
                    <img src="../assets/images/badrom2jpg.jpg" class="card-img-top materialboxed" alt="...">
                  </div>
            </div>      
    </section>
    <br/>



    <section class="contact">
        <div class="contenedor">
            <div class="formulario">

                <h4>Get Started Today!</h4>
                <div class="contenedor">
                    <label for="name">Name *</label><br>
                    <input type="text" name="name" id="name" placeholder="Insert a name"> 
                </div>
                
                <div class="contenedor" id="emailContain">
                    <label for="email">Email *</label><br>
                    <input type="email" name="email" id="email" placeholder="Insert a email">
                </div>
                
                <div class="contenedor" id="number">
                    <label for="phone">Phone</label><br>
                    <input type="number" name="phone" id="phone" placeholder="Insert a phone">    
                </div>
                
                <div class="contenedor" id="message">
                    <label for="massage">Message</label>
                    <textarea name="massage" id="massage" placeholder="Insert a massage"></textarea>
                </div>
                

                <p>Would you like to receive future emails? *</p>

                <div class="contenedor">
                    <label for="yes">Yes</label>
                    <input type="radio" name="yes" id="yes">
                
                    <label for="no">No</label>
                    <input type="radio" name="no" id="no">
                </div>

                <input type="submit" value="Submit" name="submit" id="submit" class="btn btnSubmit">
            </div>

            <div class="mapa">

                <h4>Location</h4>

                <iframe width="560" height="315" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d199827.49252012421!2d-122.76443100000002!3d38.503686!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808438d1681bc0d3%3A0x4684cbbfabde42c2!2sSanta+Rosa%2C+CA+95403%2C+USA!5e0!3m2!1sen!2sph!4v1532530714056" frameborder="0" allowfullscreen></iframe>

            </div>

            <div class="contacUs">

                <h4>Contact Us</h4>

                <div class="datos">
                    <div class="texto">
                        <p class="name">Díaz López Tile</p>

                        <p class="phone">Phone: 707-385-5146</p>

                        <p class="email">Email: dltilecompany@gmail.com</p>

                        <p class="adress">Adress: 2620 Iroquois Street <br> Santa Rosa CA 95403</p>
                    </div>
                    <div class="foto">
                        <img src="../assets/images/apple-touch-icon.png" alt="logo_tile" title="Logo Tile">
                    </div>
                    
                </div>

                <div class="horarios">
                    <h5>Hours</h5>
        
                    <div class="entreSemana">
                        <p><samp>Monday to Saturday: </samp> <br> 8:00 Am - 5:00 Pm</p>
                    </div>

                    <div class="finSemana">
                        <p><samp>Sunday: </samp> <br> Closed</p>
                    </div>
                    
                </div>

                <div class="clear"></div>

            </div>

        </div>
    </section>

    <footer>
        <div class="contenedor">
            <p> &copy Díaz Lopez Tile</p><br>
            <a href="#">Sitemap</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Hours</a>
            <a href="#">Testimonials</a>
            <a href="#">Gallery</a>
            <a href="#">Servicies</a>
            <a href="#">Home</a>
            <div class="clear"></div>
        </div>
    </footer>
    

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/my-jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>