@font-face {
  font-family: OpS-Bold;
  src: url(../fonts/OpenSans-Bold.ttf); }
@font-face {
  font-family: OpS-Light;
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: OpS-LightItalic;
  src: url(../fonts/OpenSans-LightItalic.ttf); }
@font-face {
  font-family: OpS-Regular;
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: OpS-SemiBold;
  src: url(../fonts/OpenSans-SemiBold.ttf); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.clear {
  clear: both; }

.btn {
  width: 30%;
  margin-left: 35%;
  margin-top: 15px;
  background: #f8b40b;
  color: #fff;
  padding: 10px 0px;
  border: none; }
  .btn:hover {
    background: #e7a600; }

body {
  width: 100%;
  background: #fff;
  font-family: "OpS-Regular"; }

header {
  width: 100%; }
  header .navigate .contenedor .topBar {
    background: #192a56;
    color: #fff;
    text-align: right;
    padding: 15px 30px;
    font-family: "OpS-SemiBold";
    font-size: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7); }
  header .navigate .contenedor .menu {
    width: 100%;
    background: linear-gradient(to left, #f8b40b, #f8b50bd8, #f8b50b42, #f8b50b0c);
    padding: 15px 10px;
    box-shadow: 0px 0px 15px #000000a2;
    position: relative;
    z-index: 1; }
    header .navigate .contenedor .menu button {
      display: none; }
    header .navigate .contenedor .menu img {
      float: left;
      width: 25%; }
    header .navigate .contenedor .menu ul {
      width: 75%;
      margin-top: 3%;
      float: left;
      display: flex;
      flex-direction: row-reverse; }
      header .navigate .contenedor .menu ul li {
        list-style: none;
        margin: 15px; }
        header .navigate .contenedor .menu ul li ul {
          width: 28%;
          background: #f8b40b;
          display: flex;
          flex-direction: column;
          position: absolute;
          margin-top: -1px; }
          header .navigate .contenedor .menu ul li ul li {
            margin: 2px;
            padding: 15px; }
            header .navigate .contenedor .menu ul li ul li:hover {
              background: #192a56; }
          header .navigate .contenedor .menu ul li ul a {
            font-family: "Ops-Light"; }
            header .navigate .contenedor .menu ul li ul a:hover {
              text-decoration: none; }
        header .navigate .contenedor .menu ul li a {
          color: #fff;
          text-decoration: none;
          font-size: 22px;
          font-family: "Ops-Regular";
          padding: 10px; }
          header .navigate .contenedor .menu ul li a:hover {
            text-decoration: underline #fff; }
  header .seeWork {
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 0;
    background: url(../images/kitchen_tile.jpg);
    background-size: cover;
    overflow: hidden; }
    header .seeWork .contenedor {
      width: 40%;
      padding: 20px;
      margin: auto;
      margin-top: 15%;
      position: relative;
      z-index: 2;
      background: #1d1d1d93;
      color: #fff; }
      header .seeWork .contenedor .principal {
        font-size: 27px;
        font-family: "OpS-SemiBold";
        text-align: center;
        margin-bottom: 20px; }
      header .seeWork .contenedor .description {
        width: 70%;
        margin: auto;
        text-align: center;
        font-size: 16px; }
      header .seeWork .contenedor .btn {
        width: 30%;
        margin-left: 35%;
        margin-top: 15px;
        background: #f8b40b;
        color: #fff;
        padding: 10px 0px;
        border: none; }

.tileInstalation {
  background: #fff;
  width: 100%; }
  .tileInstalation .contenedor {
    width: 80%;
    margin: auto;
    padding: 15px; }
    .tileInstalation .contenedor .titulo {
      margin: auto;
      width: 40%;
      padding: 40px 0px 0px 0px;
      border-right: 2px solid #f8b40b;
      border-bottom: 2px solid #f8b40b; }
      .tileInstalation .contenedor .titulo h3 {
        font-size: 35px;
        font-family: "OpS-SemiBold";
        text-align: center; }
    .tileInstalation .contenedor .about {
      font-size: 28px;
      font-family: "OpS-LightItalic";
      color: #505050;
      margin: 50px 0px;
      padding: 10px;
      border-left: 2px solid #192a56; }
    .tileInstalation .contenedor .lets {
      width: 100%;
      padding: 15px; }
      .tileInstalation .contenedor .lets h6 {
        font-size: 18px;
        margin-bottom: 15px; }
      .tileInstalation .contenedor .lets .info {
        width: 80%;
        margin: auto;
        text-align: center;
        line-height: 28px;
        font-family: "OpS-Regular"; }
      .tileInstalation .contenedor .lets .cuerpo {
        width: 80%;
        margin: auto;
        text-align: left;
        line-height: 28px;
        font-family: "OpS-Regular"; }
    .tileInstalation .contenedor .otherInfromation {
      width: 100%; }
      .tileInstalation .contenedor .otherInfromation .contenedor {
        width: 50%;
        margin: auto; }
        .tileInstalation .contenedor .otherInfromation .contenedor iframe {
          width: 100%; }
        .tileInstalation .contenedor .otherInfromation .contenedor button {
          margin-left: 22%;
          margin-top: 7%;
          margin-bottom: 7%;
          background: transparent;
          border: transparent; }
          .tileInstalation .contenedor .otherInfromation .contenedor button img {
            width: 100%; }
        .tileInstalation .contenedor .otherInfromation .contenedor p {
          text-align: center;
          font-size: 20px; }

.muestras {
  background: url(../images/tile_pattern.jpg);
  background-size: cover;
  width: 100%; }
  .muestras .contenedor {
    width: 90%;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: row; }
    .muestras .contenedor .muestra {
      width: 30%;
      background: #fff;
      margin: auto; }
      .muestras .contenedor .muestra p {
        text-align: center;
        color: #192a56;
        font-size: 22px;
        font-family: "OpS-SemiBold";
        margin: 10px; }
      .muestras .contenedor .muestra img {
        width: 100%; }
      .muestras .contenedor .muestra button {
        margin-bottom: 10px; }

.gallery {
  width: 100%; }
  .gallery h4 {
    font-family: "OpS-SemiBold";
    font-size: 28px;
    color: #192a56;
    padding: 15px;
    margin: 15px 0px; }
  .gallery .container {
    width: 90%;
    margin: auto;
    background: #000; }
    .gallery .container .pictures {
      width: 100%; }
      .gallery .container .pictures .picture {
        width: 300px;
        height: 150px;
        border: 1px solid #ffffff;
        display: inline-block;
        overflow: hidden; }
        .gallery .container .pictures .picture img {
          width: 100%;
          display: inline-block; }

.contact {
  width: 100%;
  background: url(../images/footer_final.jpg); }
  .contact .contenedor {
    width: 90%;
    margin: auto; }
    .contact .contenedor .formulario {
      width: 50%;
      padding: 20px;
      margin: auto;
      border: 2px solid #192a56;
      border-radius: 8px;
      background: #ffff; }
      .contact .contenedor .formulario h4 {
        text-align: center;
        color: #192a56;
        font-size: 28px;
        font-family: "OpS-SemiBold";
        padding: 20px; }
      .contact .contenedor .formulario .contenedor {
        width: 50%;
        float: left; }
        .contact .contenedor .formulario .contenedor label {
          display: inline-block;
          color: #192a56;
          font-family: "OpS-SemiBoldItalic"; }
        .contact .contenedor .formulario .contenedor input {
          padding: 10px; }
      .contact .contenedor .formulario #emailContain {
        float: right; }
        .contact .contenedor .formulario #emailContain input, .contact .contenedor .formulario #emailContain label {
          float: right; }
      .contact .contenedor .formulario #number, .contact .contenedor .formulario #message {
        width: 100%;
        padding: 10px 35%; }
      .contact .contenedor .formulario textarea {
        max-width: 220px;
        min-width: 180px;
        max-height: 220px;
        min-height: 80px;
        padding: 10px; }
  .contact .mapa {
    width: 100%; }
    .contact .mapa h4 {
      text-align: left;
      font-size: 22px;
      font-family: "OpS-SemiBold";
      color: #192a56;
      margin: 10px; }
    .contact .mapa iframe {
      width: 100%; }
  .contact .contacUs h4 {
    text-align: center;
    font-size: 22px;
    font-family: "OpS-SemiBold";
    color: #192a56;
    margin: 10px; }
  .contact .contacUs .datos {
    background: #fff;
    border: 1px solid #192a56;
    border-radius: 8px;
    padding: 20px;
    width: 35%;
    margin: 20px auto;
    text-align: left;
    line-height: 27px;
    float: left; }
    .contact .contacUs .datos .texto {
      width: 70%;
      float: left;
      margin: auto; }
    .contact .contacUs .datos .foto {
      width: 30%;
      float: left; }
      .contact .contacUs .datos .foto img {
        width: 100%; }
  .contact .contacUs .horarios {
    width: 50%;
    float: left;
    margin-left: 10%; }
    .contact .contacUs .horarios h5 {
      text-align: center;
      font-size: 18px;
      margin-bottom: 15px; }
    .contact .contacUs .horarios .entreSemana {
      width: 50%;
      float: left; }
    .contact .contacUs .horarios .finSemana {
      width: 50%;
      float: left;
      text-align: right; }
    .contact .contacUs .horarios samp {
      font-family: "OpS-Bold";
      font-size: 15px;
      line-height: 25px; }
    .contact .contacUs .horarios p {
      text-align: center; }

footer {
  width: 100%;
  background: #000;
  padding: 10px; }
  footer .contenedor {
    width: 80%;
    margin: auto;
    color: #fff;
    text-align: center; }
    footer .contenedor p {
      margin: 10px; }
    footer .contenedor a {
      color: #fff;
      text-decoration: none;
      margin: 15px 30px; }
      footer .contenedor a:hover {
        color: #f8b40b;
        text-decoration: underline; }

@media screen and (max-width: 800px) {
  header .navigate .contenedor .menu {
    background: #f8b40b; }
    header .navigate .contenedor .menu img {
      width: 25%;
      position: relative;
      margin-left: 35%; }
    header .navigate .contenedor .menu ul {
      width: 90%; }
  header .seeWork .contenedor {
    width: 70%; }

  .tileInstalation .contenedor {
    width: 90%; }
    .tileInstalation .contenedor .titulo {
      width: 60%; }
    .tileInstalation .contenedor .lets {
      width: 100%;
      padding: 15px; }
      .tileInstalation .contenedor .lets h6 {
        font-size: 18px;
        margin-bottom: 15px; }
      .tileInstalation .contenedor .lets .info {
        text-align: justify; }
    .tileInstalation .contenedor .otherInfromation {
      width: 100%; }
      .tileInstalation .contenedor .otherInfromation .contenedor {
        width: 70%;
        margin: auto; }

  .muestras .contenedor {
    width: 90%;
    padding: 8px; }
    .muestras .contenedor .muestra p {
      font-size: 15px;
      margin: 5px; }
    .muestras .contenedor .muestra button {
      width: 100%;
      margin-bottom: 10px;
      margin-left: -.3%; }

  .contact .contenedor .formulario {
    width: 80%; }
  .contact .contacUs .datos {
    width: 90%;
    margin-left: 5%; }
  .contact .contacUs .horarios {
    width: 90%;
    float: left; }

  footer .contenedor {
    width: 90%; }
    footer .contenedor p {
      margin: 15px; }
    footer .contenedor a {
      margin: 15px 50px;
      line-height: 35px; }
      footer .contenedor a:hover {
        color: #f8b40b;
        text-decoration: underline; } }
@media screen and (max-width: 690px) {
  header .navigate .contenedor .menu {
    background: #f8b40b; }
    header .navigate .contenedor .menu button {
      display: inline-block;
      padding: 10px;
      background: #f8b40b;
      color: #fff;
      border: 1px solid #fff;
      float: right;
      margin-top: 2%;
      box-shadow: 0px 0px 3px #000; }
    header .navigate .contenedor .menu img {
      width: 25%;
      position: relative;
      margin-left: 35%; }
    header .navigate .contenedor .menu ul {
      display: none;
      flex-direction: column-reverse;
      padding: 10px;
      text-align: right; }
      header .navigate .contenedor .menu ul li ul {
        width: 50%;
        text-align: left;
        margin-top: -6px; }

  .contact .contenedor {
    width: 100%; }
    .contact .contenedor .formulario {
      width: 90%; }
  .contact .contacUs .datos {
    width: 90%;
    margin-left: 5%; }
  .contact .contacUs .horarios {
    width: 90%;
    float: left; } }
@media screen and (max-width: 500px) {
  header .navigate .contenedor .menu {
    background: #f8b40b; }
    header .navigate .contenedor .menu img {
      width: 25%;
      position: relative;
      margin-left: 35%; }
    header .navigate .contenedor .menu ul {
      width: 90%; }
      header .navigate .contenedor .menu ul li a {
        font-size: 17px; }

  .tileInstalation .contenedor {
    width: 90%; }
    .tileInstalation .contenedor .titulo {
      width: 90%; }
      .tileInstalation .contenedor .titulo h3 {
        font-size: 22px; }
    .tileInstalation .contenedor .about {
      font-size: 18px; }
    .tileInstalation .contenedor .lets {
      width: 100%;
      padding: 15px; }
      .tileInstalation .contenedor .lets h6 {
        font-size: 14px;
        margin-bottom: 15px; }
      .tileInstalation .contenedor .lets .info {
        text-align: justify;
        font-size: 15px; }
    .tileInstalation .contenedor .otherInfromation {
      width: 100%; }
      .tileInstalation .contenedor .otherInfromation .contenedor {
        width: 70%;
        margin: auto; }

  .seeWork .contenedor {
    width: 100%; }

  .muestras .contenedor {
    width: 100%;
    padding: 5px; }
    .muestras .contenedor .muestra p {
      font-size: 10px;
      margin: 2px; }
    .muestras .contenedor .muestra button {
      width: 100%;
      margin-bottom: 10px;
      margin-left: -.3%; }

  .contact .contenedor {
    width: 90%;
    margin: auto; }
    .contact .contenedor .formulario {
      width: 90%;
      padding: 10px;
      margin: auto;
      border: 2px solid #192a56;
      border-radius: 8px;
      background: #ffff; }
      .contact .contenedor .formulario h4 {
        text-align: center;
        color: #192a56;
        font-size: 28px;
        font-family: "OpS-SemiBold";
        padding: 20px; }
      .contact .contenedor .formulario .contenedor {
        width: 100%;
        float: none; }
        .contact .contenedor .formulario .contenedor label {
          display: inline-block;
          color: #192a56;
          font-family: "OpS-SemiBoldItalic"; }
        .contact .contenedor .formulario .contenedor input {
          padding: 10px;
          width: 70%; }
      .contact .contenedor .formulario #emailContain {
        float: none; }
        .contact .contenedor .formulario #emailContain input, .contact .contenedor .formulario #emailContain label {
          float: none; }
      .contact .contenedor .formulario #number, .contact .contenedor .formulario #message {
        width: 100%;
        padding: 10px; }
      .contact .contenedor .formulario textarea {
        max-width: 220px;
        min-width: 180px;
        max-height: 220px;
        min-height: 80px;
        padding: 10px; }
    .contact .contenedor #check {
      display: flex; } }
@media screen and (max-width: 410px) {
  .seeWork .contenedor {
    width: 100%; }
    .seeWork .contenedor .principal {
      font-size: 18px; }

  .tileInstalation .contenedor .lets {
    width: 100%;
    padding: 10px; }
    .tileInstalation .contenedor .lets h6 {
      font-size: 14px;
      margin-bottom: 15px; }
    .tileInstalation .contenedor .lets .info {
      text-align: justify;
      font-size: 12px; }

  .contact .contenedor .formulario h4 {
    text-align: center;
    color: #192a56;
    font-size: 22px;
    font-family: "OpS-SemiBold";
    padding: 20px; } }

/*# sourceMappingURL=style.css.map */
